.search-row {
  display: flex;
  padding: 8px;
}

.search-field {
  border-radius: 8px;
  width: 500px;
}

.filler {
  flex: 1;
}

th {
  font-weight: 600;
}

.table-scroll-container {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}
